name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Build server
        run: |
          cd server
          npm install
          npm run build
      - name: Build client
        run: |
          cd client
          npm install
          npm run build

  test:
    runs-on: ubuntu-latest
    needs: build
    services:
      mongodb:
        image: mongo:latest
        ports:
          - 27017:27017
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install server & client
        run: |
          cd server
          npm install
          cd ../client
          npm install
      - name: Test server
        run: |
          cd server
          npm test
      - name: Test client
        run: |
          cd client
          npm test
